---
import { withBase } from '../lib/paths';

interface Props {
  label: string;
  href: string;
  showHref?: boolean;
}
const { label, href, showHref = false } = Astro.props;
const resolvedHref = withBase(href);
---

<div class="flex pl-[1ch] text-[hsl(var(--muted-foreground))]">
  <span class="shrink-0 text-[hsl(var(--foreground))]"> -</span>
  <span>
    <span class="whitespace-nowrap">{'['}<a href={resolvedHref}>{label}</a>{']'}</span>
    {showHref && <span>({href})</span>}
  </span>
</div>
